---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";
import { messages } from "@i18n/dict";

const lang = "zh-hant" as const;
const t = messages[lang];

const posts = await getCollection("blog", ({ data }) => data.lang === lang);

let tags = getUniqueTags(posts);
---

<Layout
  title={`${t.nav.tags} | ${SITE.title}`}
  lang={lang}
  alternates={{
    en: new URL(`/tags/`, Astro.site).href,
    "zh-hant": new URL(Astro.url.pathname, Astro.site).href,
  }}
>
  <Header activeNav="tags" {lang} />
  <Main pageTitle={t.nav.tags} pageDesc="中文標籤清單">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" basePrefix="/zh-hant" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
